@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.leaflet-container {
    height: 100%;
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}

.cluster-icon {
    background-color: #8abd60;
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 0.8rem;
    box-shadow: 0 0 0px 5px #8ca672;
}

.leaflet-control-attribution {
    display: none;
}

.overflow-overlay {
    overflow: overlay;
}

::-webkit-scrollbar-track {
    background-color: #fafafa;
    border: none;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
}

.ant-drawer .ant-drawer-body {
    /* Ẩn thanh cuộn ngang và dọc */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */

    /* WebKit-based browsers */
    &::-webkit-scrollbar {
        width: 0; /* Ẩn thanh cuộn ngang */
        height: 0; /* Ẩn thanh cuộn dọc */
    }
}

.ant-tabs-nav {
    width: 100% !important;
}

.ant-tabs-tab {
    display: block;
    flex: 1;
    justify-content: center;
}

.ant-tabs-nav > div:nth-of-type(1) {
    display: unset !important;
    width: 100% !important;
}

.ripple {
    height: 70px;
    position: absolute;
    width: 70px;
}

.ripple > div {
    animation: growAndFade 3s infinite ease-out;
    background-color: #ff4d4f;
    border-radius: 50%;
    height: 100%;
    opacity: 1;
    position: absolute;
    width: 100%;
    border: 6px solid #e31300;
}

/* .ripple .circle1 {
    animation-delay: 1s;
}

.ripple .circle2 {
    animation-delay: 2s;
}
.ripple .circle3 {
    animation-delay: 3s;
} */

.ant-list-item {
    transition: 0.2s all ease-in-out;
}
.ant-list-item:hover {
    box-shadow: 0 0 4px #eee;
    background-color: #dddddd6e;
}

.leaflet-div-icon {
    border-radius: 50%;
    background: #fa8c06;
    border: 1px solid #255dec;
}

@keyframes growAndFade {
    0% {
        opacity: 1;
        transform: scale(0);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}
